input {
    border: 1px solid #e0e0e0;
    line-height: 2.2rem;
    width: 100%;
    padding: .4rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc; opacity:1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;opacity:1;
}
input:-ms-input-placeholder{
    color: #ccc;opacity:1;
}
input::-webkit-input-placeholder{
    color: #ccc;opacity:1;
}