.items{
    line-height: 3rem;
    font-size: 1.2rem;
}
.select{
    width: 100%;
    height: 2.8rem;
    border: 1px solid #ccc;
}
textarea{
    resize: none;
    border: 1px solid #ccc;
    width:100%;
    line-height: 1.6rem;
}
.inputU{
    width: 100%;
    border: 1px solid #ccc;
    line-height: 2rem;
}
.bor{
    border: 1px solid #aaa;
    height: 12rem;
    padding-top: 3rem;
    position: relative;
    color: #bbb;
}
.title{
    background: #F7E4C5;
    color: #E73A38;
}
.textB{
    background: #cccccc;
    bottom: 0;
    position: absolute;
    width:100%;
    color: #ffffff;
}
.plan{
    background-color: #fff;
}
.am-text-gre{
    color: #cccccc;
}.am-text-gre2{
    color: #bbb;
}