.top{
    width: 100%;
    background: #4ea1d3;
    overflow: auto;
    color: #ffffff;
}
.crle{
    border-radius: 50%;
    margin: 1rem auto;
    width: 50%;
    padding-bottom: 50%;
    background: url('http://iph.href.lu/50x50?text=%E5%95%86%E5%93%81');
}
.item{
    line-height: 4rem;
    font-size: 1.4rem;
    border-bottom: 1px solid #eaeaea;
}